body {
    background-color: ivory;
    font-size: 24px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 30px;
}

input {
    width: 50px;
    padding: 6px;
    font-size: 18px;
}

button {
    font-weight: bold;
    font-size: 20px;
    color: steelblue;
    width: 100px;
    height: 50px;
    margin-top: 25px;
}