body {background-color: rgb(121, 146, 255);}
.content {max-width: 500px;
    margin: auto;}


    #righthand {
        max-height: 20%;
        max-width:  20%;
    }

    #head {
        max-height: 20%;
        max-width: 20%;
    }

    #lefthand {
        max-height: 20%;
        max-width: 20%;
    }

    #body {
        max-height: 20%;
        max-width: 20%;
    }

    
    #leg {
        max-height: 20%;
        max-width: 20%;
    }

    #leg {
        max-height: 20%;
        max-width: 20%;
    }